body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cfdad4;
}

.container {
    width: 85%;
    margin: 40px auto;
    background: #f2f2f2;
    padding: 30px;
    border-radius: 15px;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header img {
    width: 70px;
}

h1 {
    color: #2f6f54;
}

h2 {
    color: #2f6f54;
}

.form {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #8bb59f;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add {
    background-color: #79b48f;
    color: white;
}

.btn-edit {
    background-color: #9be19b;
}

.btn-delete {
    background-color: #f28c8c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #9fc8b0;
}

th, td {
    padding: 12px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}